/* @import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poetsen+One&display=swap"); */

:root {
  --main-color: #e3eef5;
  --secondary-color: #eaebd0;
  --third-color: #da6c6c;
  --fourth-color: #cd5656;
  --fifth-color: #af3e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
  font-size: 62.5%;
  background-color: var(--main-color);
}

button:hover {
  cursor: pointer;
}
